
.page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ghost {
	width: 300px;
}

.notfound {
	font-size: 20px;
	margin-bottom: 30px;
}

@media screen and (max-width: 525px) {

	.page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.ghost {
		width: 100px;
	}

}