
.menu {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	padding: 5px 0px 5px 0px;	
	box-shadow: 0px 0px 10px 0px rgba(120,120,120, 0.4);
}

.link {
	padding: 10px;
	background: #e95;
	box-shadow: 0px 0px 4px 0px rgba(120, 70, 44, 0.4);
	border: 2px solid #fa6;
	margin: 5px;
	text-decoration: none;
	color: #fff;
	font-family: tahoma;
	border-radius: 6px;
	transition: 0.4s;
}

.link:hover {
	background: #d84;
	border: 2px solid #e96;
}


@media screen and (max-width: 525px) {

	.link {
		box-shadow: 0px 0px 4px 0px rgba(120, 70, 44, 0.4);
		border: 2px solid #fa6;
		border-radius: 6px;
		padding: 10px;
		background: #e95;
		margin: 5px;
		min-width: 70%;
		text-align: center;
		text-decoration: none;
		color: #fff;
		font-family: tahoma;
		transition: 1s;
	}

	.menu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
	}	

}