body {
	background: #f2f2ff;
}

* {
	position: 0px;
	margin: 0px; 
	font-family: tahoma;
	color: #444;
}

.wrapper {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.content {
	margin-top: 20px;
	margin-right: 20px;
	width: calc(60% - 30px);
	background: #eee;
	padding: 5px 5px 5px 5px;	
	box-shadow: 0px 0px 4px 0px rgba(120,120,120, 0.4);

}

.other-content {
	width: calc(20% - 30px);
}


@media screen and (max-width: 525px) {


	.wrapper {
		margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}


	.content {
		margin: 0px;
		margin-top: 20px;
		width: calc(100% - 30px);
		background: #eee;
		padding: 5px 5px 5px 5px;	
		box-shadow: 0px 0px 4px 0px rgba(120,120,120, 0.4);
	}

	.other-content {
		width: calc(100% - 30px);	
	}

}